@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
.custom-tree .ant-tree-treenode {
    padding: 2px 0 !important;
    align-items: center;
    margin: 20px 0 0 0;
}

.custom-tree .ant-tree-node-content-wrapper {
    font-size: 20px !important;
    font-family: "Times New Roman", Times, serif !important;
    padding: 8px 12px !important;
    border-radius: 10px;
}

.custom-tree .ant-tree-node-content-wrapper:hover {
    background: #f5f5f5;
}

.custom-tree .ant-tree-checkbox {
    transform: scale(1.3);
    margin-right: 12px;
}

.custom-tree .ant-tree-switcher {
    font-size: 13px;
    margin-right: 8px;
}

.custom-tree .ant-tree-list-holder-inner {
    gap: 3px;
}



/* quickSale */
* {
  box-sizing: border-box;
}

.quicksale {
  display: flex;
  gap: 12px;
  /* height: calc(87vh - 60px); */
  min-height: calc(100vh - 190px);
  padding: 10px;
  background: #f4f5f7;
}

/* Bên trái */
.quicksale-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.product-area {
  flex: 1;
  border-radius: 12px;
}

.note-box {
  margin-top: 10px;
  background: white; /* nền xám ngoài */
  padding: 8px;
  border-radius: 12px;
}

.note-box input {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  padding: 0 40px; /* chừa chỗ icon */
  font-size: 15px;
  outline: none;
 
  color: black;
}

.note-box input::placeholder {
  color: black;
}

/* Bên phải */
.quicksale-right {
  width: 490px;
  min-width: 320px;
  background: white;
  border-radius: 12px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.payment-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.customer-search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.customer-search {
  width: 100%;
  height: 42px;
  border: none;
  border-radius: 8px;
  background: #f3f4f6;
  padding-left: 40px;
  padding-right: 50px;
  font-size: 15px;
  outline: none;
}

.search-icon {
  position: absolute;
  left: 12px;
  color: #9ca3af;
}

.add-customer-btn {
  position: absolute;
  right: 8px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background: #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #374151;
}

.summary {
  margin-top: 20px;
}

.summary div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.total {
  font-weight: 700;
  font-size: 18px;
}

.bank-box {
  margin-top: 20px;
  background: #f6f6f6;
  border-radius: 12px;
  padding: 25px;
  text-align: center;
}

.bank-box button {
  border: none;
  background: transparent;
  color: #1677ff;
  cursor: pointer;
  font-size: 16px;
}

.payment-btn {
  margin-top: auto;
  height: 56px;
  border: none;
  border-radius: 10px;
  background: #1677ff;
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.openaddCustomer{
  width: "32px";
  height: "32px";
  borderRadius: 50%;
  border: "none";
  background: "#e5e7eb";
  display: "flex";
  alignItems: "center";
  justifyContent: "center";
  cursor: "pointer",                        
}
/* Responsive cho Laptop nhỏ và Mobile */
/* Laptop nhỏ */
@media (max-width: 1366px) {
  .quicksale-right {
    width: 360px;
  }
}

/* Tablet */
@media (max-width: 992px) {
  .quicksale {
    flex-direction: column;
    height: auto;
  }

  .quicksale-right {
    width: 100%;
    min-width: unset;
  }

  .product-area {
    min-height: 400px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .quicksale {
    padding: 8px;
    gap: 8px;
  }

  .payment-btn {
    height: 50px;
    font-size: 16px;
  }

  .note-box input {
    height: 48px;
  }
}



/* Deliverysale */

* {
  box-sizing: border-box;
}

.delivery-sale {
  display: flex;
  gap: 10px;
  background: #f3f4f6;
  padding: 8px;
   min-height: calc(100vh - 190px);
}

/* LEFT */
.delivery-left {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.left-empty {
  flex: 1;
  background: #dfe3e8;
  border-radius: 10px;
}

.order-footer {
  background: white;
  border-radius: 10px;
  margin-top: 10px;
  padding: 22px;
  display: flex;
  justify-content: space-between;
}

.order-note {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #64748b;
  font-size: 18px;
}

.order-summary {
  width: 420px;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
  font-size: 22px;
}


.total {
  border-top: 1px solid #ddd;
  padding-top: 14px;
  font-weight: bold;
  color: #1677ff;
}

/* CENTER */
.delivery-center {
  width: 480px;
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.center-header {
  padding: 16px;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
}

.user-box {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
}

.time {
  color: #666;
}

.search-customer {
  position: relative;
  display: flex;
  margin: 16px;
  height: 45px;
  border: 1px solid #ddd;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 0 14px;
}

.search-customer input {
  flex: 1;
  border: none;
  outline: none;
  margin: 0 10px;
  
}

.phone-section {
  padding: 0 16px;
}

.phone-input {
  border-bottom: 2px solid red;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.circle {
  width: 14px;
  height: 14px;
  border: 4px solid #1677ff;
  border-radius: 50%;
  margin-right: 12px;
}

.phone-input input {
  flex: 1;
  border: none;
  outline: none;
}

.warning {
  color: red;
  font-size: 14px;
}

.form-section {
  padding: 16px;
}

.double-input {
  display: flex;
  gap: 12px;
}

.input-line {
  margin-top: 20;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 22px;
}

.input-line input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
}

.green {
  color: #22c55e;
  margin-right: 8px;
}

.package-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 14px 0;
  border-bottom: 1px solid #d1d5db;
}

.package-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.package-left span {
  font-size: 18px;
  color: #111827;
}

.edit-icon {
  color: #4b5563;
  cursor: pointer;
}

.size-box {
  margin-top: 25;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 40px;
}

.size-box input {
  width: 60px;
  border: none;
  border-bottom: 1px solid #ddd;
  outline: none;
  text-align: center;
  padding-bottom: 6px;
}

.cod-footer {
  margin-top: auto;
  border-top: 1px solid #eee;
  padding: 18px;
  display: flex;
  justify-content: space-between;
}

.cod-left {
  display: flex;
  align-items: center;
  gap: 14px;
}

.switch {
  width: 44px;
  height: 24px;
  background: #1677ff;
  border: none;
  border-radius: 30px;
  position: relative;
}

.dot {
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 50%;
  position: absolute;
  right: 3px;
  top: 3px;
}



/* RIGHT */
.delivery-right {
  width: 480px;
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.tab-header {
  display: flex;
  border-bottom: 1px solid #eee;
}

.tab-btn {
  flex: 1;
  border: none;
  background: white;
  padding: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.active {
  color: #1677ff;
  border-bottom: 2px solid #1677ff;
  font-weight: bold;
}

.partner-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px;
}

.partner-select {
  display: flex;
  align-items: center;
  gap: 8px;
  min-width: 220px;
  border-bottom: 2px solid #1677ff;
  padding-bottom: 8px;
}

.payment-footer {
  margin-top: auto;
  padding: 16px;
}

.pay-btn {
  width: 100%;
  border: none;
  background: #1677ff;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 24px;
  border-radius: 18px;
  cursor: pointer;
}





/* giam gia cua giao hang */
.discount-row {
  position: relative;
  cursor: pointer;
}

.discount-popup {
  position: absolute;
  top: -10px;
  left: -40px;
  width: 390px;
  background: white;
  border-radius: 10px;
  padding: 18px 22px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  z-index: 999;
}

.discount-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.discount-input-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.discount-input-box input {
  width: 100px;
  border: none;
  border-bottom: 2px solid #1677ff;
  outline: none;
  font-size: 18px;
  text-align: center;
}

.discount-input-box button {
  border: none;
  background: #f1f1f1;
  padding: 10px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.active-btn {
  background: #1677ff !important;
  color: white;
}

.close-popup {
  position: absolute;
  right: -12px;
  top: 50%;
  transform: translateY(-50%);
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: none;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}